/* Fonts */
@font-face {
  font-family: 'playwritebasic';
  src: url('../fonts/playwritenzbasic/PlaywriteNZBasic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'notosans';
    src: url('../fonts/notosansjp/NotoSansJP-VariableFont_wght.ttf');
}
/* Body */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Topbar Area */
#web-topheader {
    background-color: lightblue;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid black;
}
.background-blur {
    position: absolute;
    background-image: url('../img/topbar-background.jpg');
    filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
} 
#web-topbar {
    background-color: black;
    opacity: 0.75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}
#web-toptextbar {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 15px;
    padding-right: 35px;
    width: 100%;
}
#web-toptextbar h1 {
    color: white;
    font-size: 35px;
    font-family: 'notosans', sans-serif;
    text-transform:capitalize;
}
.nav-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
}
.nav-links p {
    text-align: right;
    color: white;
    font-family: 'playwritebasic', cursive;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
    transition: font-size 0.25s ease, color 0.75s ease, text-shadow 0.25s ease;
}
.nav-links a:hover {
    color:aquamarine;
    font-size: 23px;
    text-shadow:
    0 0 10px aquamarine,
    0 0 20px aquamarine,
    0 0 40px aqua,
    0 0 80px aqua,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
}
/* Hero Area */
#web-fullbackground {
    height:100%;
    width: 100%;
    background: linear-gradient( cyan, lightblue, pink, pink);
}
#web-herogrid {
    display:grid;
    box-sizing: border-box;
    padding-left: 30px;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    height: 30vw;
    overflow: hidden;
    border-bottom: 2px solid black;
}
.web-heroleft {
    color:black;
    padding-left: 30px;
}
.web-heroleft h2 {
    font-size: 100px;
    line-height: 1.0;
    font-family: 'playwritebasic';
    filter: drop-shadow(30px);
}
.web-heroleft p {
    font-family: 'notosans';
    font-size: 20px;
    line-height: 0.5;
}
.web-heroright {
    display: flex;
    color:white;
    margin-left: auto;
    justify-content: end;
    align-items: flex-end;
}
.web-heroright img {
    width: auto;
    max-width: 545px;
    height: 120%;
    max-height: 545px;
    object-fit: contain;
    object-position: bottom right;
}
/* Content Area */
#web-contentgrid {
    width:100%;
    display:grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    justify-content: space-around;
    gap:60px;
    opacity: 80%;
    box-sizing: border-box;
    border-bottom: 17px solid white;
}
#web-contentgrid .web-contentleft {
    background-color: black;
    color:white;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}
#web-contentgrid .web-contentright {
    color:white;
    background-color: black;
    padding: 20px;
    text-align: left;
    border-radius: 25px;
}
#web-contentgrid h1 {
    font-family: 'playwritebasic';
}
#web-contentgrid p {
    font-family: 'notosans';
}
/* Image Gallery */
#web-imagegrid {
    min-height: 240px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap:40px;
    background-color: rgba(36, 93, 250, 0.752);
    border-bottom: 3px solid white;
    box-sizing: border-box;
}
.web-imageblock {
    background-color:rgba(255, 255, 255, 0.156);
    font-family: 'playwritebasic';
    min-height: 180px;
    border-radius: 30px;
    color:white;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.web-imageblock2 {
    background-color:rgba(255, 255, 255, 0.156);
    font-family: 'playwritebasic';
    min-height: 50px;
    height:100px;
    border-radius: 30px;
    color:white;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.web-imageblock h1 {
    padding-left: 20px;
    font-size: 50px;
    margin: 0;
}
.web-imageblock p {
    padding-left: 20px;
    font-size: 20px;
    padding-right:15px;
    margin: 0;
}
.web-imageblock img {
    max-width: 120%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 25px;
}
.web-imageblock2 h1 {
    padding-left: 20px;
    font-size: 50px;
    margin: 0;
}
.web-imageblock2 p {
    padding-left: 20px;
    font-size: 20px;
    padding-right:15px;
    margin: 0;
}
/* Footer Area */
#web-footergrid {
    height:210px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#web-footergrid .web-footerblur {
    position: absolute;
    background-image: url('../img/footer-background.png');
    background-size: cover;
    background-position: center;
    filter: blur(20px) brightness(30%);
    z-index: 0;
    top: -30px;
    bottom: -30px;
    left: -30px;
    right: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
}
#web-footergrid .web-footercontent {
    display: flex;
    gap:40px;
    background-color: black;
    opacity: 75%;
    height:80%;
    width:90%;
    align-items:center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    bottom: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: auto;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr;
}
#web-footergrid .web-footerleft, .web-footerright {
    display: inline-block;
    color:white;
    flex: 1;
    padding: 10px;
    text-align: left;
    font-family: 'playwritebasic';
    line-height: 1.0;
}
#web-footergrid .web-footerleft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    line-height: 1.25;
}
.footer-column {
    display: flex;
    flex-direction: column;
}
.footer-column h2 {
    margin-bottom: 10px;
}
.social-grid {
    display: grid;
    grid-template-columns: 120px 240px;
    gap: 10px 50px;
}
.social-grid a {
    display: block;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.social-grid i {
    font-size: 20px;
    width: 20px;
    text-align: center;
}
.social-grid a:hover {
    color:aqua
}
.web-footerright p:hover {
    color:aqua
}
.web-footerright i {
    font-size: 20px;
    width: 20px;
    text-align: center;
}